<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
     <div class="container" style="margin-bottom:100px;">
    <form method="POST">
        {% csrf_token %}
<h1>Login</h1>
        <div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="r" placeholder="Enter the name">
</div>
        <div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="w" placeholder="Enter the password">
</div>
        <div class="mb-3">

  <input type="submit" class="form-control btn btn-danger" name="g" value="Login">
</div>
        </form>
     </div>
    </center>
{% endblock %}