<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
    <div class="container" style="margin-bottom:100px;">
<h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
<div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the name">
</div>
<div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>
<div class="mb-3">
  <label class="form-label">Confirm password</label>
  <input type="password" class="form-control" name="cp" placeholder="Re-enter password">
</div>
<div class="mb-3">
  <label class="form-label">Email</label>
  <input type="email" class="form-control" name="e" placeholder="Enter the mail">
</div>
<!--        <div class="mb-3">-->
<!--  <label class="form-label">Phone</label>-->
<!--  <input type="number" class="form-control" name="o" placeholder="Enter the phone">-->
<!--</div>-->
<!--        <div class="mb-3">-->
<!--  <label class="form-label">Place</label>-->
<!--  <input type="text" class="form-control" name="a" placeholder="Enter the place">-->
<!--</div>-->
<div class="mb-3">
  <label class="form-label">First name</label>
  <input type="text" class="form-control" name="f" placeholder="Enter first name">
</div>
<div class="mb-3">
  <label class="form-label">Last name</label>
  <input type="text" class="form-control" name="l" placeholder="Enter last name">
</div>
    <div class="mb-3">

  <input type="submit" name="s" class="form-control btn btn-danger">
</div>
        </form>
    </div>
    </center>
{% endblock %}